@font-face {
  font-family: "iconfont";
  /* Project id 3738103 */
  src: url('//at.alicdn.com/t/c/font_3738103_7cb31rck5ct.woff2?t=1667200719265') format('woff2'),
    url('//at.alicdn.com/t/c/font_3738103_7cb31rck5ct.woff?t=1667200719265') format('woff'),
    url('//at.alicdn.com/t/c/font_3738103_7cb31rck5ct.ttf?t=1667200719265') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjian:before {
  content: "\e602";
}

.icon-chahao:before {
  content: "\e68b";
}

.icon-shuoming:before {
  content: "\e628";
}

.icon-juyouduiqi:before {
  content: "\e6e6";
}

.icon-juzuoduiqi:before {
  content: "\e6e7";
}

.icon-juzhongduiqi:before {
  content: "\e6e8";
}

.icon-mulu1:before {
  content: "\ed79";
}

.icon-chexiao:before {
  content: "\e619";
}

.icon-zhongzuo:before {
  content: "\e62c";
}

.icon-shanchuxian:before {
  content: "\e6b1";
}

.icon-fenxiang:before {
  content: "\e654";
}

.icon-shipin:before {
  content: "\e600";
}

.icon-lianjie:before {
  content: "\e601";
}

.icon-icon:before {
  content: "\e694";
}

.icon-daimakuai:before {
  content: "\e69f";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

.icon-daochu:before {
  content: "\e634";
}

.icon-biaotizhengwenqiehuan:before {
  content: "\e6e2";
}

.icon-wuxuliebiao:before {
  content: "\e6ec";
}

.icon-youxuliebiao:before {
  content: "\e6f0";
}

.icon-zitijiacu:before {
  content: "\ec83";
}

.icon-mobansheji:before {
  content: "\e672";
}

.icon-daoru:before {
  content: "\e607";
}

.icon-daiban:before {
  content: "\e63e";
}

.icon-biaoge:before {
  content: "\e615";
}

.icon-baocun:before {
  content: "\e653";
}

.icon-zuojiantou:before {
  content: "\e618";
}

.icon-qiehuan:before {
  content: "\e65b";
}

.icon-quote:before {
  content: "\e60c";
}

.icon-italic:before {
  content: "\e61c";
}